#main{
    height: 100%;
}
#main .nav-bar{
    height: 100%;
    width: 250px;
    display: block;
    position: fixed;
}

#main .collapse{
    width: 20px;
}

#main .main-body{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #eee;
    display: block;
    float: right;
}

#main .expand{
    width: calc(100% - 20px);    
}
