#dashboard{
    margin: 0px 5px 0px 5px;
    height: 100%;
}

#dashboard nav {
    background: #283646;
    width: 100%;
    /* box-shadow: 0 1px 2px 2px #acb4bd; */
    color: white;
    height: 67px;
}

#dashboard nav .nav-options{
    display: inline-block;
    width: calc((100%/3) - 1px);
    text-align: center;
    border-right: 1px solid #fff;
    padding: 0px 0px;
    margin: 14px 0px;
}

#dashboard nav .nav-options:last-child{
    width: calc((100%/3));
    border-right: none;    
}

#dashboard nav .nav-options .title{
    font-size: 15px;
}

#dashboard nav .nav-options .value{
    font-size: 20px;    
}

#dashboard #title-bar{
    position: relative;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    background: #283646;
    color: #fff;
}

#dashboard #title-bar .title{
    width: 100%;
    text-align: center;
    font-size: 20px;;
}
#dashboard #title-bar .title .status svg{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 10px;
    top: 12px;
}

#dashboard  #title-bar .online svg{
    fill: #31b583
}
#dashboard #title-bar .offline svg{
    fill: #ce4d24
}
#dashboard #title-bar .shutdown svg{
    fill: #abb4c0
}


#dashboard #title-bar .cross{
    position: absolute;
    right: 14px;
    z-index: 9;
    top: 10px;
}

#dashboard #title-bar .select-title{
    text-align: center;
}


#dashboard #title-bar .select-title select{
    width: 235px;
    padding: 0px 10px;
    margin: 0px;
    font-size: 18px;
    border: none;
    background: #283646;
    color: #fff;
    border-bottom: 1px solid;
}

#dashboard #title-bar .status{
    content: '.'
}

#dashboard .station-details{
    height: calc(100% - 131px);
}
